
/* font-family: 'Nanum Myeongjo', serif; */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&family=Roboto&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nanum Myeongjo', serif;
}

